

<div class="scroll-box">                                    
                    <img class="scroll-header-logo" src="https://cdn.shopify.com/s/files/1/0477/8704/9127/files/Logo_logo_v2.png?v=1601205117" alt="AppLogo">                    
                    <h3 class="scroll-header-text">Organic - Natural path of life</h3>
        
  </div>